.dark-theme {
	--font-size: 16px;
	--line-height: calc(var(--font-size) + 2px);

	--bg: #333;
	--font-colour: #eee;
	--link-colour: #88f;
	--link-colour-visited: #6565be;
	--greentext-colour: #6eff8e;
	--redtext-colour: #f98d8d;
	--username-hsl-brightness: 70%;

	--input-bg: #666;
	--input-border-top: solid 2px var(--font-color);
	--input-scrollbar-bg: #777;
	--input-scrollbar-fg: #999;

	--scrollbar-bg: #444;
	--scrollbar-fg: var(--input-bg);
	--scrollbar-width: 10px;

	--message-border-top: solid 1px var(--scrollbar-bg);
}

body {
	font-size: var(--font-size);
	line-height: var(--line-height);

	background: var(--bg);
	color: var(--font-colour);
	font-family: sans-serif;
}

a {
	color: var(--link-colour);
}

header {
	font-size: calc(var(--font-size) * 2);
	line-height: calc(var(--line-height) * 2);
	font-weight: bold;
}

div.setup input {
	display: block;
}
